* {
    margin: 0;
    font-family: sans-serif;
    text-decoration: none;
}

.header {
    text-align: center;
}

.cont1 {
    display: flex;
    flex-wrap: wrap;
    
}

.g-cont{
    margin: 5vh;
}

.cont1 h2{
    display: inline-block;
}

img {
    width: 50px;
}

.lesson{
    display: flex;
    flex-direction: column;
    width: 400px;
    border-radius: 7px;
    border: 1px solid #000;
    margin: 2vh 0 0 2vh;
}

.block1{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.block2{
    display: flex;
    justify-content: space-between;
    align-items: center;
}   

.fake-hr{
    width: 350px;
    height: 1px;
    background: gray;
    margin: 0 auto;
}

.view{
    padding: 4px 20px 4px 20px;
    border: 2px solid rgb(111, 193, 221);
    border-radius: 7px;
    margin: 10px 0 20px 10px;
}

.lesson-card{
    margin: 0 10px 0 0;
}