*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'Open Sans', sans-serif;
    transition: 0.3s;
}

*::after, *::before
{
    box-sizing: border-box;
}

.underline
{
    text-decoration: underline;
    position: relative;
    top: -0.13rem;
}

.header
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 70px;
    background: #1D2126;
    color: azure;
}

.main_header
{
    font-size: 19px;
}

.header_nav
{
    display: flex;
    font-size: 12px;
}

.list-item a
{
    margin: 0 10px;
    padding: 8px 10px 7px 11px;
    border: 1px solid #1D2126;
    border-radius: 5px;
    color: azure;
    transition: 0.3s;
}

.list-item a:hover
{
    border: 1px solid #A4AEAD;
    color: #A4AEAD;
    border-radius: 5px;
}

.list-item a:active
{
    color: #23B7A4;
    border: 1px solid #23B7A4;
    border-radius: 5px;
    transition: none;
}

.content-block
{
    width: 1136px;
    margin: 0 auto;
}





.banner
{
    color: #FFFFFF;
    background-image: url(../img/about-img/pic@1X.png);
    width: 100%;
    height: 660px;
    display: flex;
    align-items: center;
}

.banner-cont
{
    display: inline-block;
    width: 740px;
    margin: 0 0 0 15%;
}

.bunner h1
{
    font-size: 26px;
}

.banner p
{
    font-size: 16px;
}

.button1
{
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
    border-radius: 10px;
    padding: 16px 28px 15px 21px;
    transition: 0.3s;
    font-size: 14px;
}

.button1:hover
{
    background: #23B7A4;
    border-color: #23B7A4;
    cursor: pointer;
}



.about-content-row-1
{
    display: flex;
    justify-content: space-around;
    margin: 0 0 97px 0;
}

.about-content-section1
{
    display: inline-block;
    width: 57.130281690%;
}

.about-content-section2
{
    display: flex;
    flex-direction: column;
    width: 39.87677%;
}

.about-header
{
    border-left: 11px solid #E1E6EA;
    padding: 0 0 0 14px;
    font-size: 36px;
    margin: 79px 0 0 0;
}

.about-img-sectoin
{
    width: 61px;
    height: 61px;
    background: #C8CDD0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 0 1px;
}

.about-img-row
{
    display: flex;
}

.about-img-sectoin .facebook
{
    width: 22px;
    height: 18px;
}

.about-img-sectoin .twitter
{
    width: 13px;
    height: 23px;
}

.about-img-sectoin .google
{
    width: 13px;
    height: 23px;
}

.about-img-sectoin .ball
{
    width: 22px;
    height: 22px;
}

.about-img-sectoin .be
{
    font-size: 17px;
    width: 27px;
    height: 17px;
}

.about-content-inner
{
    display: flex;
    justify-content: space-between;
    /* width: 100%; */
}

.sq
{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    background: #23B7A4;
    font-size: 20px;
    width: 51px;
    height: 51px;
}

.sq-wrapper
{
    position: relative;
    top: 6.5px;
    margin: 0 10px 0 0;
}






.our-team-header
{
    margin: 85px 0 62px 0;
    border-left: 11px solid #E1E6EA;
    padding: 0 0 0 14px;
    font-size: 36px;
    margin: 79px 0 0 0;
}

.team-card
{
    /* display: flex;
    flex-direction: column;
    align-items: center; */
    position: relative;
    width: 264px;
    height: 376px;
    margin: 0 26px 0 0;
}

.team-img
{
    width: 264px;
    height: 301px;
    object-fit: cover;
}

.team-wrepper
{
    display: flex;
    margin: 0 0 99px 0;
}

.team-text-wrepper
{
    display: inline-block;
    width: 264px;
    height: 75px;
    background: #E1E6EA;
    position: relative;
    top: -5px;
}

.team-text-wrepper h4, p
{
    width: 100%;
    position: relative;
    top: -5px;
}

.team-text-wrepper h4
{
    color: #292F36;
    padding: 20px 20px 0 20px;
}

.team-text-wrepper p
{
    padding: 9px 20px 16px 20px;
    color: #8D8F92;
}

.team-icon-wrapper
{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 264px;
    height: 301px;
    opacity: 0;
    transition: 0.5s;
}

.team-icon-self-wrapper
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 51px;
    height: 51px;
    margin: 0.5px;
    background: #3A454D;
}

.team-icon-twitter
{
    width: 17px;
    height: 14px;
}

.team-icon-facebook
{
    width: 10px;
    height: 18px;
}

.team-icon-save
{
    width: 15px;
    height: 16px;
}

.team-icon-self-wrapper:hover
{
    background: #4E5A62;
    cursor: pointer;
}

.team-card:hover .team-text-wrepper
{
    background: #3A454D;
}

.team-card:hover .team-text
{
    color: #FFFFFF;
}

.team-card:hover .team-icon-wrapper
{
    opacity: 1;
    background: rgba(255, 255, 255, .5);
}






.background-content3
{
    display: flex;
    flex-direction: column;
    background: #3A454D;
}

.fix
{
    width: 100%;
    height: 80px;
}

.work-header
{
    color: #FFFFFF;
    border-left: 11px solid #4E5A62;
    padding: 0 0 0 14px;
    margin: 0 0 62px 0;
    font-size: 36px;
}

.work-img-cont
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 29px;
}

.work-img-wrapper
{   
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.work-img 
{
    width: 360px;
}

.work-plus-icon
{
    position: absolute;
    top: 94px;
    text-transform: uppercase;
    cursor: pointer;
    opacity: 0;
    transition: 0.2s;
}

.work-hover-text
{
    position: absolute;
    width: max-content;
    bottom: 0;
    left: 0;
    font-size: 18px;
    padding: 25px 125.5px 22px 21px;
    background: #292F36;
    color: #FFFFFF;
    text-transform: uppercase;
    opacity: 0;
    transition: 0.2s;
}

.work-img-wrapper:hover .work-plus-icon
{
    opacity: 1;
}

.work-img-wrapper:hover .work-hover-text
{
    opacity: 1;
}

.button2
{
    border: 2px solid #fff;
    border-radius: 10px;
    color: #FFFFFF;
    font-size: 14px;
    display: inline-block;
    margin: 61px auto;
    padding: 16px 30px 16px  21px;
    text-transform: uppercase;
}

.button2:hover
{
    background: #fff;
    color: #292F36;
}





.services-header
{
    border-left: 11px solid #E1E6EA;
    padding: 0 0 0 14px;
    font-size: 36px;
    margin: 79px 0 0 0;
    text-transform: uppercase;
}

.services-item
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 254px;
}

.services-content
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 37px;
    margin: 93px 0 164px 0;
}


.services-item h3
{
    color: #292F36;
    text-transform: uppercase;
    margin: 35px 0 28px 0;
}

.services-item p
{
    color: #8D8F92;
}

.services-item .services-img-cogs, .services-img-pencil, .services-img-clock
{
    width: 48px;
    height: 48px;
}

.services-img-phone
{
    width: 30px;
    height: 48px;
}






.background-content5
{
    background: #3A454D;
    
}

.features-header
{
    border-left: 11px solid #4E5A62;
    color: #fff;
    padding: 0 0 0 14px;
    font-size: 36px;
    margin: 0 0 59px 0;
    text-transform: uppercase;
}

.features-card-block
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 29px;
    padding: 0 0 120px 0;
}

.features-card
{
    display: flex;
    flex-direction: column;
    width: 361px;
}

.features-card-header
{
    margin: 54px 0 0 0;
    font-size: 18px;
    text-transform: uppercase;
}

.features-card-header
{
    color: #DCDFE1;
}

.features-text
{
    color: #DCDFE1;
}






.contact-content-block
{
    width: 1136px;
    margin: 0 auto;
    display: flex;
    gap: 49px;
    position: relative;
}

.contact-header
{
    border-left: 11px solid #E1E6EA;
    padding: 0 0 0 14px;
    font-size: 36px;
    margin: 70px 0 60px 0;
    text-transform: uppercase;
}

.contact-content
{
    width: 47.09%;
    margin: 60px 0 0 0;
}

.contact-content-header
{
    font-size: 20px;
    margin: 0 0 39px 0;
    text-transform: uppercase;
}

.contact-massege
{
    position: absolute;
    right: 0;
    bottom: -10px;
}

.contact-massege-wrapper
{
    padding: 30px;
    background: #fff;
}

.contact-user-data-row-1
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 14px;
}

.contact-user-data-row-2
{
    margin: 30px 0 0 0;
}

.contact-label
{
    font-size: 14px;
    color: #8D8F92;
    margin: 0 0 0 7px;
    display: block;
    text-transform: uppercase;
}

.contact-row-1-input
{
    width: 241px;
    height: 45px;
    border: none;
    border-radius: 3px;
    background: #EAEEF1;
}

.contact-row-2-input
{
    width: 100%;
    height: 160px;
    border: none;
    border-radius: 3px;
    background: #EAEEF1;
}

.contact-button-wrapper
{
    margin: 47px 0 0 0;
}

.contact-button
{
    border-radius: 10px;
    color: #fff;
    background: #23B7A4;
    padding: 16px 25px 15px 32px;
    text-transform: uppercase;
    
}

.contact-button:hover
{
    filter: brightness(110%);
}

.footer
{
    width: 100%;
    height: 96px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 14px;
    background: #3A454D;
    color: #fff;
    margin: 99px 0 0 0;
}

.footer-img-wrapper
{
    display: flex;
    justify-content: center;
    width: 155px;
    gap: 10px;
}

.footer-icon
{
    width: 18px;
}