* {
    margin: 0;
    padding: 0;
    border: none;
    font-family: sans-serif;
    text-decoration: none;
}

.header{
    border-left: 5px solid rgb(97, 97, 97);
    padding-left: 10px;
}

.map{
    width: 100%;
}

input{
    box-sizing: border-box;
    background: rgb(196, 196, 196);
    border: 1px solid transparent;
    border-radius: 5px;
}

